<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blaskbot Alerts</title>
<style>
    <!-- STYLESHEET -->
</style>
</head>

<body bgcolor="#FFFFFF">
    <div id="alert_table">
        <table width=960>
            <tr>
                <td>
                    <video id="alert_video" width="960" height="540" autoplay>
                        <!-- VIDEO LINK -->
                    </video>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>
                        <!-- BIT TEXT -->
                    </h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>
                        <!-- MESSAGE -->
                    </h2>
                </td>
            </tr>
        </table>
    </div>

    <script>
         document.getElementById('alert_video').addEventListener('ended',myHandler,false);
        function myHandler(e) {
            if(!e) { e = window.event; }
            // What you want to do after the event
            document.getElementById('alert_table').style.display="none";
        }
    </script>

</body>

</html>
